input[type="checkbox"] {
    cursor: pointer;
}

input[type="text"] {
    border: 1px solid gray;
    padding: 0 2px
}

input[type="button"] {
    border: 1px solid gray;
    padding: 0 2px;
    margin-left: 1px;
    cursor: pointer;
}

table {
    width: calc(100% - 10px);
    margin: 5px;
}

.panel-container {
    position: absolute;
    top: calc(20%);
    left: calc(50% - 165px);
    width: 330px;
    height: auto;
    border-radius: 4px;
    /* border: 1px solid rgba(0, 0, 0, 0.7); */
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 1px 3px 10px 0 rgba(0,0,0,.4);
    z-index: 1;
    overflow: hidden;
}

.panel-container:hover {
    background-color: rgba(255, 255, 255, 0.95);
}

.panel-hide {
    visibility: hidden;
}

.panel-close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 16px;
    cursor: pointer;
}

.panel-header {
    display: flex;
    align-items: center;
    padding-left: 6px;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #ccc;
    background-color: #00000022;
    cursor: move;
}

.panel-body {
    width: 100%;
    margin: 3px;
}

.color-input {
    width: 24px;
    height: 16px;
    border: 1px solid gray;
    margin: 2px;
    cursor: pointer;
    font-size: 0px; /* do not see the text at all */
}

.bim-setting {
    list-style: none;
}

.bim-setting li {
    list-style: none;
    margin: 15px;
}

.bim-setting span {
    display: inline-block;
    margin-right: 5px;
    width: 120px;
}

.bim-setting select {
    border: 1px solid #000;
}