.demo {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.demo .menu {
    position: relative;
    float: left;
    min-height: 100%;
    border-right: 1px solid #e6e6e6;
}

.demo .content {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.demo .links {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: #00000050;
    padding: 0 3px;
    text-decoration: none;
    font-size: 12px;
}

.demo .links a {
    cursor: pointer;
    color: white;
}

.demo .links a:hover {
    text-decoration: underline;
}
