html, body, #root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  height: 1px;
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, .1);
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background: #ededed;
  border-radius: 4px;
}
